<p style="color: green"><%= notice %></p>

<h1>Elects</h1>

<div id="elects">
  <% @elects.each do |elect| %>
    <%= render elect %>
    <p>
      <%= link_to "Show this elect", elect %>
    </p>
  <% end %>
</div>

<%= link_to "New elect", new_elect_path %>
